@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
:root {
  
    /*  
        Color-pallet
    */
        --primary: #20C997;
        --secondary-light: #19E06C;
        --secondary: #18D631;
        --tertiary-one: #18A7D6;
        --tertiary: #19E0DD;
    /* 
        Font-size
    */

}

a {
    all: unset;
}


body {
    display: grid;
    grid-template-areas: 
    'header header',
    'main main',
    'footer footter',
    ;
    font-family: 'Nunito', sans-serif;
    margin:0;
    padding: 0;
    
}

header {
    grid: 'header';
    background-color: var(--primary);
    max-height: 30rem;

}
.header__logo {
    margin: 2rem;
}

.nav__sec {
    display: flex;
    flex-direction: row;
    margin: 1rem 0 1rem 3rem;
}

.nav__main--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 2rem 0 2rem;
    align-items: baseline;
    color: white;
}



.nav__main--list {
    display: inline-flex;
    
    gap: 2rem;
}

#cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    pointer-events: visible;
}

.showcart {
    display: block;
    position:fixed; 
    max-width: 4rem;
    max-height: 4rem;
}



main {
    grid: 'main';
    margin: 2rem;
}

.productShow {
    display:flex;
    flex-direction: row;
    margin: 4rem 0 4rem 0 ;
    justify-content: center;
    gap:4rem;
}

.category {
    display: flex;
    padding: 1rem;
    flex-direction: column;
}

.category:hover {
    
    background-color: lightgray;
    border-radius: 1rem;
}

#hero {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4rem;
    background-image: url(../assets/img/RD_002.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#hero__one {
    padding: 2rem;
}

#hero__two {
    display: inline-flex;
    justify-content: center;
    align-content: center;
}

.productShow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: flex-start;
}

.product {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    max-width: 25%;
    text-decoration: none;
        
}



.product__top {
    display: inline-flex;
    justify-content: center;
}

.product__mid {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.product__bot {
    display: inline-flex;
    flex-direction: column;
    max-width: fit-content;
}

.contact {
    display: flex;
    flex-direction: row;
    margin: 4rem;
}

.form-contact {
    display: flex;
    flex-direction: column;
    border: 0.2rem solid gray;     
    padding: 4rem;
    
}

.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about {
    padding: 2rem;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    url(../assets/img/RD_004.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

aside {
    grid: 'secnav';
}

footer {
    grid: 'footer';
    background-color: #18a7d6;
}

.footer__row-1-1 {
    display: flex;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

.footer__row-3 {
    display: flex;
    justify-content: center;
    padding: 3rem;
    gap: 10rem;

}

.footer__bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
}


/*
    Button
*/

.btn__nav {
    background-color: var(--primary);
    padding: .9rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.btn__nav:hover {
    background: var(--tertiary-one);
    padding-bottom: 1.2rem;
}

.btn__nav--active {
    background-color: var(--tertiary);
}

.btn {
    font-size: 1.2;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 1rem 1.8rem;
    background-color: var(--secondary);
    border: solid var(--primary) 0.1rem;
    border-radius: 1.6rem;
}

.btn:hover {
    background-color: var(--secondary);
}

.footer__link{
    color:white;
}

.footer__link:hover {
    padding: .1rem .1rem;
    background-color: #19E06C;
    border-radius: 0.3rem solid var(--primary);
    text-decoration: none;
}

.footer__mail {
    text-decoration: none;
}

.active {
    display:block;

}

.hidden {
    display: none;
    z-index: -100;
}

/*
    IMAGE Style
*/

.hero__img{
    max-width: 35%;
    min-width: 25%;
}

.logo_small {
    max-width: 15rem;
}

.img__category {
    max-height: 10rem;
}

/*
    ICON
*/

.fa-brands {
    color: white;
}

/*
    Line style
*/

.line__small {
    width: 110%;
    border: 1px solid white;
    border-radius: .3rem;
}

.line__big {
    width: 75%;
    border: 1px solid white;
    border-radius: .3rem;
}

/*
    List style
*/

.list_none {
    list-style: none;
}

/*
    Typografi
*/

.heading__main{
    color:white;
    text-transform: uppercase;
    font-size: 3.3rem;
    line-height: 4.0rem;
    line-break: 3.4rem;
}

.heading__sub {
    color: white;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: blod;
    line-height: 2.1rem;
    padding-left: 1rem;
}

.heading__two {
    font-size: 2.7rem;
    font-weight: blod;
    line-height: 3.3rem;
    line-break: 3.2rem;
}

.headin__tree {
    font-size: 2.1rem;
    font-weight: blod;
    line-height: 2.6rem;
    line-break: 1.5rem;
}

.headline {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2.1rem;
}

.callout {
    font-weight: medium;
    font-size: 1.5rem;
    line-height: 2rem;
}

.subHead {
    font-weight: medium;
    font-size: 1.4rem;
    margin:.1rem;
}

.footNote {
    font-weight: Regulere;
    font-size: 1.1rem;
    line-height: 1.3rem;
}

.caption__one {
    font-weight: regulere;
    font-size: 1.1rem;
    line-height: 1.3;
    
}

.caption__two {
    font-size: 1.1rem;
    line-height: 1.3rem;
    color: white;
    
} 

.text__price {
    font-size: 1.1rem;
    color: var(--secondary);
}

.error {
    display: block;
    position: relative;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.loading {
    transform: rotateZ(75deg);
    perspective: 10rem;
    border-radius: 50%;
    width: 5rem;
    height: 50rem;
    color: var(--primary);
}

.loading::before, .loading::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(45deg);
    animation: 1s spinrain linear infinite;
}

.loading::after {
    color: var(--tertiary-one);
    transform: rotateY(70deg);
    animation-delay: .3s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%), rotate(0deg);
    }
    100% {
        transform: translate(-50, -50%), rotate(360deg);
    }
}

@keyframes spinrain {
    0%,
    100%{
        box-shadow: .2em 0px 0 0px currentColor;
    }

    15%{
        box-shadow: .2em .2em 0 0 currentColor;
    }
    35%{
        box-shadow: -.2em .2em 0 0 currentColor;
    }
    50%{
        box-shadow: -.2em 0 0 0 currentColor;
    }
}

/*
    Text color
*/

.white {
    color: white;
}

.grey__light {
    color: lightgray;
}

/*
    Media Screen 
*/

@media screen and (max-width: 400px) {
    .header__logo {
        display: none;
    }
    .nav__main--list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .nav__main {
        display: block;
        position: fixed;
        bottom: 0;
        background-color: var(--primary);
        max-width: 100%;
        min-width: 100%;
    }
    #hero__two {
        display: none;
    }
    
  }